*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #093f20;
}
fas-fa-plus{
    color: #fffcf0;
}
h1{
    color: #fffcf0;
}

.input {
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
<<<<<<< Updated upstream
=======
    margin-left: 160px;
}
.fa-search{
    color: #fffcf0;
}
.base1{
    border-radius: 15px;
}
.btn-primary{
    background-color: #093f20;
    color: #fffcf0;
    border-radius: 10px;
    width: 100%;
}
.row3{
    background-color: #093f20;
    height: 50px;
}
.p1{
    color: #fffcf0;
>>>>>>> Stashed changes
}
