*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #093f20;
}
fas-fa-plus{
    color: #fffcf0;
}
h1{
    color: #fffcf0;
}

.input {
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
}
