*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #093f20;
}
.fa-plus{
    color: #fffcf0;
}
h1{
    color: #fffcf0;
}
.input {
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    margin-left: 160px;
}
.fa-search{
    color: #fffcf0;
}
.base1{
    border-radius: 15px;
}
.btn-primary{
    background-color: #093f20;
    color: #fffcf0;
    border-radius: 10px;
    width: 100%;
}
.row3{
    background-color: #093f20;
    height: 100px;
}
.p1{
    color: #fffcf0;
}

.imagem{
    border-radius: 40px;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.nomeplanta{
    font-size: 40px;
}